@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


.header {
	background-color: #303030;
	width: 100%;
	margin: 0.3em 0.5em 0.3em 0em ;
	padding: 0.1em 0em 0.1em 0em;
}

h4[class*="settings header"] {
	color: #fff;
	text-align: center;
}

.input_block {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding: 0.1em;
	width: 100%;
	line-height: 1.9em;
}

input[class*="settings text"] {
	float: right;
	margin-left: 0.5em;
	margin-right: 0.1em;
}

.buttons {
	padding-top: 0.5em;
	width: 100%;
}

.buttons::after {
	content: '\A';
	white-space: pre;
}

button[class*="settings button"] {
	float: right;
	margin-left: 0.5em;
	margin-right: 0em;
}

[class="settings checkbox"] ~ label,
[class="settings radio"] ~ label {
	display: inline-block;
	vertical-align: middle;
}

input[class="settings checkbox"],
input[class="settings radio"] {
	display: inline-block;
	vertical-align: middle;
}

#extension_version {
	float: right;
	color: gray;
	font: 10px 'Open Sans', sans-serif;
}
