@charset "UTF-8";

@font-face {
	font-family:'trakt';
	src:url(/assets/trakt-56b42f62549d913a838af382441fdb84.eot?h16cug);
	src:url(/assets/trakt-56b42f62549d913a838af382441fdb84.eot?h16cug#iefix) format("embedded-opentype"),
	url(/assets/trakt-57243f9aac73da4a24d1ef13350da272.woff?h16cug) format("woff"),
	url(/assets/trakt-1ac730dd1dc3d1ea758e27da06a3263f.ttf?h16cug) format("truetype"),
	url(/assets/trakt-10890dee02f1a21a74dc25aa5e5fc46e.svg?h16cug#trakt) format("svg");
	font-weight:normal;
	font-style:normal
}

.header {
	background-color: #303030;
	width: 100%;
	margin: 0.3em 0.5em 0.3em 0em ;
	padding: 0.1em 0em 0.1em 0em;
	text-align: center;
	color: #fff;
}

.input_block {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding: 0.1em;
	width: 100%;
	vertical-align: middle;
}

.textboxes > .input_block {
	line-height: 1.9em;
}

input[class*="settings text"] {
	float: right;
	margin-left: 0.5em;
	margin-right: 0.1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-width: 0px 0px 1px 0px;
	border-color: #000;
}

input[id^="iphost"],
input[id^="addonid"] {
	width: 12.5em;
}

input[id^="port"] {
	width: 4.5em;
}

.buttons {
	padding-top: 0.5em;
	width: 100%;
}

button[class*="settings button"] {
	float: right;
	margin-left: 0.5em;
	margin-right: 0em;
	font-weight: 600;
	text-align: center;	
	padding: 5px 25px;
	border: 0em;
	background: #303030;
	color: #FFF;
}

button[class*="settings button"]:hover {
	color: #000;
	background: #CCC;
	cursor: pointer;
}

button[class*="settings button"]:active {
	color: #000;
	background: #FFF;
	border: 1px solid #000;
	cursor: pointer;
}

#extension_version {
	float: right;
	color: gray;
	font-size: 10px;
}

input[id^="format_"],
input[id^="rpc_method_"],
input[type="checkbox"] {
	display: none;
}

label[for^="format_"],
label[for^="rpc_method_"] {
	display: inline-block;
	font-weight: 600;
	text-align: center;	
	padding: 5px 25px;
}

label[for^="rpc_method_"] {
	font-size: 10px;
	padding: 5px 0px !important;
	width: 49%;
}

label[for^="format_"]:hover,
label[for^="rpc_method_"]:hover {
	color: #000;
	background: #CCC;
	cursor: pointer;
}

input[id^="rpc_method_"]:checked + label[for^="rpc_method_"],
input[id^="format_"]:checked + label[for^="format_"] {
	background: #303030 !important;
	color: #FFF !important;
}

.font_checkbox + label {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	vertical-align: top;
}

.font_checkbox {
	font-family:'trakt';
	display: inline-block;
	vertical-align: top;
	padding: 3px 3px;
}

.font_checkbox:before {
	content: '\e604';
}

input[type="checkbox"]:checked + .font_checkbox:before {
	content: '\e602';
}
