@charset "UTF-8";

.header {
	background-color: #303030;
	width: 100%;
	margin: 0.3em 0.5em 0.3em 0em ;
	padding: 0.1em 0em 0.1em 0em;
	text-align: center;
	color: #fff;
}

.input_block {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding: 0.1em;
	width: 100%;
	vertical-align: middle;
}

.textboxes > .input_block {
	line-height: 1.9em;
}

.textboxes label {
	margin-left: 8px;
}

input[class*="settings text"] {
	float: right;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-width: 0px 0px 1px 0px;
	border-color: #999;
}

input[id^="iphost"],
input[id^="addonid"] {
	width: 12.5em;
}

input[id^="port"] {
	width: 4.5em;
}

.buttons {
	width: 100%;
}

button[class*="settings button"] {
	float: right;
	margin-left: 0.5em;
	margin-right: 0em;
	font-weight: 600;
	text-align: center;
	padding: 4px 24px;
	border: 1px solid #303030;
	background: #303030;
	color: #FFF;
	margin-top: 10px;
	margin-bottom: 10px;
}

button[class*="settings button"]:hover {
	color: #000;
	background: #CCC;
	cursor: pointer;
}

button[class*="settings button"]:active {
	color: #000;
	background: #FFF;
	cursor: pointer;
}

.footer {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	width: 100%;
	vertical-align: middle;
}

#extension_version {
	float: right;
	color: #CCC;
	font-size: 10px;
}

input[id^="format_"],
input[id^="rpc_method_"],
input[type="checkbox"] {
	display: none;
}

label[for^="format_"]:first-of-type {
	margin-left: 7px !important;
}

label[for^="format_"],
label[for^="rpc_method_"] {
	display: inline-block;
	font-weight: 600;
	text-align: center;
	padding: 5px 25px;
}

label[for^="rpc_method_"] {
	font-size: 10px;
	padding: 5px 0px !important;
	width: 49%;
}

label[for^="format_"]:hover,
label[for^="rpc_method_"]:hover {
	color: #000;
	background: #CCC;
	cursor: pointer;
}

input[id^="rpc_method_"]:checked + label[for^="rpc_method_"],
input[id^="format_"]:checked + label[for^="format_"] {
	background: #303030 !important;
	color: #FFF !important;
}

.font_checkbox + label {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
}

.font_checkbox {
	display: inline-block;
	vertical-align: middle;
	padding: 3px 3px;
	width: 1.1em;
}

.font_checkbox:before {
	content: '\2718';
}

input[type="checkbox"]:checked + .font_checkbox:before {
	content: '\2714';
}
