@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
	background: #000;
	color: #FFF;
	font: 12px 'Open Sans', sans-serif;
}

input,
button {
	font: 12px 'Open Sans', sans-serif;
}

.main {
	margin: 0 auto;
	min-width: 291px;
	max-width: 291px;
}

.content {
	background: #FFF;
	color: #373737;
	min-height: 291px;
	max-height: 291px;
}

div[id^="content"] {
	display: none;
	padding: 20px 25px 5px;
}

input[id^="tab"] {
	display: none;
}

label[for^="tab"] {
	display: inline-block;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
}

label[for^="tab"]:hover {
	color: #000;
	background: #CCC;
	cursor: pointer;
}

input[id^="tab"]:checked + label[for^="tab"] {
	background: #FFF;
	color: #000;
}

div[id^="content_sub"] {
	padding: 0px !important;
}

.content_sub {
	background: #FFF;
	color: #373737;
}

input[id^="tab_sub"]:checked + label[for^="tab_sub"] {
	background: #000 !important;
	color: #FFF !important;
}

#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2,
#tab3:checked ~ .content #content3 {
	display: block;
}

#tab_sub1:checked ~ .content_sub #content_sub1,
#tab_sub2:checked ~ .content_sub #content_sub2,
#tab_sub3:checked ~ .content_sub #content_sub3,
#tab_sub4:checked ~ .content_sub #content_sub4 {
	display: block;
}

@media screen and (max-width: 291px) {
	label[id^="tab"] {
		padding: 15px 10px;
	}
}
